* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: xx-large;
  font-weight: bold;
}

body {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.outer-container {
  display: flex;
  flex-direction: column;
}

.container1 {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.container2 {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.container3 {
  display: flex;
  flex-direction: row;
  text-align: center;
}
